.headerbox {
  margin: 0;
  display: flex;
  gap: 40px;
  padding-bottom: 80px;
}
.headerboxtext {
  color: #191a23;
  margin: 0;
  font-size: 18px;
  font-family: Space Grotesk;
  font-weight: 400;
  max-width: 580px;
}
.headerboxheader {
  color: #191a23;
  background-color: #b9ff66;
  padding: 0 7px;
  border-radius: 7px;
  position: relative;
  z-index: 1;
}
.services {
  margin: 0;
  justify-content: center;
  padding-bottom: 90px;
}
.servicesbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: center;
}
.servicesitem {
  background-color: #f3f3f3;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0px 5px 0px #191a23;
  overflow: hidden;
  border-radius: 45px;
  outline: 1px #191a23 solid;
  outline-offset: -1px;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.servicesitembox {
  display: flex;
  flex-direction: column;
  gap: 90px;
  position: relative;
  z-index: 1;
}
.servicesitemlink {
  color: #191a23;
  margin: 0;
  font-size: 18px;
  font-family: Space Grotesk;
  font-weight: 400;
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.whitetext {
  color: white;
}
.servicesimg {
}
.servicesimgfixed {
  position: absolute;
  bottom: 50px;
  right: 420px;
  z-index: 0;
  pointer-events: none;
}
.servicesfontlink {
  color: white;
  font-size: 20px;
  font-family: Space Grotesk;
  font-weight: 400;
  text-decoration: underline;
  line-height: 28px;
  word-wrap: break-word;
  background-color: #191a23;
  position: absolute;
  right: -375px;
  bottom: 75px;
  padding: 20px 35px;
  border-radius: 14px;
}
.servicesheader {
  border-radius: 7px;
  margin: 0;
  padding: 0 7px;
  font-size: 30px;
  font-family: Space Grotesk;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.green {
  background-color: #b9ff66;
}
.grey {
  background-color: #f3f3f3;
}
.white {
  background-color: white;
}
.black {
  background-color: #191a23;
}
.proposalbox {
}
.iconarrow {
  width: 24px;
  height: 24px;
  margin: 0;
  z-index: 1;
}
.fillblack {
  fill: #191a23;
}
.fillgreen {
  fill: #b9ff66;
}
