.casestudies {
}

.caseheaderbox {
  margin-bottom: 85px;
  display: flex;
}
.caseheaderboxheader {
  margin-right: 47px;
  background-color: #b9ff66;
  border-radius: 7px;
}
.caseheaderboxtext {
  max-width: 580px;
}
.casebox {
  padding: 70px 60px;
  border-radius: 45px;
  display: flex;
  gap: 64px;
  background-color: #191a23;
  margin-bottom: 140px;
  list-style: none;
}
.caseboxitem {
}
.caseboxitemtext {
  color: white;
  margin-bottom: 20px;
}
.caseboxitemlink {
  color: #b9ff66;
  text-decoration: none;
  display: flex;
  gap: 15px;
  align-items: center;
}
.iconarrow {
  width: 24px;
  height: 24px;
}
.caseboxline {
  width: 0px;
  height: 186px;
  transform-origin: top left;
  outline: 0.5px white solid;
  outline-offset: -0.5px;
}
