.testimon {
  margin-bottom: 128px;
}
.testimonheaderbox {
  display: flex;
  gap: 40px;
  margin: 0;
  margin-bottom: 80px;
}
.testimonheaderboxheader {
  background-color: #b9ff66;
  border-radius: 7px;
  padding: 0 7px;
}
.testimonheaderboxtext {
  max-width: 475px;
}
.testimonbox {
  width: 1360px;
  height: 625px;
  position: relative;
  background: #191a23;
  overflow: hidden;
  border-radius: 45px;
}
.testimonslide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1240px;
  height: 100%;
  padding: 0 40px;
  text-align: center;
  color: white;
}
.testimontext {
  color: white;
  padding: 0;

  margin: 0;

  box-sizing: border-box;
  max-width: 502px;
}
.testimondesc {
  box-sizing: border-box;
  padding-left: 72px;
}
.testimonname {
  font-weight: 500;
  font-size: 20px;
  color: #b9ff66;
}
.testimonswiper {
  padding-top: 84px !important;
}
.testimonwrapper {
  display: flex;
  align-items: center;
}
.swiperslide {
  padding: 0 !important;
  width: 700px !important;
}
.rectangle {
  border: 1px solid #b9ff66;
  border-radius: 45px;
  display: inline-block;
  padding: 52px 48px 80px;
  position: relative;
  margin-bottom: 48px;
}
.triangle {
  position: absolute;
  bottom: 60px;
  left: 60px;
}
